VITE_SUPABASE_URL=https://iqydzikcyynkvyahfmjn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxeWR6aWtjeXlua3Z5YWhmbWpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0MDY2NjUsImV4cCI6MjA4Nzk4MjY2NX0.R0vAhfqTXXsG_UkOyZFnHdJB3wgvVkjf4zh3S4xKyQ0
