@import "tailwindcss";

@theme {
  --color-primary: #d9018c;
  --color-primary-dark: #810359;
  --color-background-dark: #0a040b;
  --color-surface-dark: #1a0a1c;
  --color-border-dark: #331d36;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background-dark text-slate-100 antialiased;
  }
}

.neon-glow {
  box-shadow: 0 0 15px rgba(217, 1, 140, 0.2);
}

.neon-text {
  text-shadow: 0 0 8px rgba(217, 1, 140, 0.4);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-background-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-border-dark rounded-full hover:bg-slate-700 transition-colors;
}
